@import 'src/styles/variables.module';
@import './mixin.scss';
@import './sidebar.scss';
@import 'element-plus/theme-chalk/dark/css-vars.css';
@import 'lxgw-wenkai-screen-webfont/style.css';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "LXGW WenKai Screen", sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 15px;
  overflow: auto;
  // margin: 15px;
  // box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}
.app-container-header {
  box-sizing: border-box;
  border-bottom: 3px solid #abc0f3;
  margin-bottom: 10px;
}
.oneline {
  white-space: nowrap; /*强制span不换行*/
  display: inline-block; /*将span当做块级元素对待*/
  width: 100%; /*限制宽度*/
  overflow: hidden; /*超出宽度部分隐藏*/
  text-overflow: ellipsis; /*超出部分以点号代替*/
}

.search {
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  box-shadow: var(--el-box-shadow-light);
  border-radius: var(--el-card-border-radius);
  border: 1px solid var(--el-card-border-color);
}
